/* index page  */
.menu a:hover{
 color: white;
}
.canal {
    width: 90%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    
}
.header .name{
    /* width: 100%; */
    height: 90px; 
    /* text-align: center;  */
    padding-right: 470px;
    /* padding-top: 20px; */
    /* padding-bottom: 0px; */
    background-color: white;
    
}
.name img{
    /* width: 50%; */
    height: 70px;
    position: fixed;
    /* text-align: center; */
    padding-top: 20px;
}

body {
 margin: -21px;
 font-family: sans-serif;
 background-color: white;
}


.menu{
    position: fixed;
    left    : 0;
    z-index : 500;
    width   : 100%;
    height  : 40px;
    background-color: #8B4513;
    position: fixed;
    padding-top: 20px;
    border-bottom: black solid 2px;
    border-top: black solid 2px;
    
}
.header{
    background-color: white;
    position: fixed;
    text-align: center;
    width: 110%;
}

.menu b{
    color: black;
    background-color: white ;
    border-radius: 5px;
    width: 60px;
    height: 80px;
   
}

.menu b a{
    float   : left;
    display : block;
    padding-right: 80px;
    padding-left: 80px;
    font-weight : 700;
    color       : black;
    text-align  : center;
    text-decoration : none;
    

}



/* index page */

.index{
    text-align: center;
    text-decoration: none;
}

.index h3{
    text-decoration: none;
}

hr{
    width: 50%;
    /* color:#fdf082; */
}

/* heading  */
.pine{
    padding-top: 110px;
    text-align: center;
    font-size: 10px;
    background-color: white;
}
.pine a{
    color: inherit;
}
/* about page  */

.about{
    text-align: center;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 190px;
}
.flex1{
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 200px;
    padding-right: 200px;
    justify-content: center;
}
.flex1 p{
    margin-right: 50px ;
    margin-left: 150px;
    padding-right: 30px;
}

.flex1 img{
    padding-right: 50px;
}

.flex img{
    padding-left: 50px;
}
.flex{
    padding-left: 200px;
    padding-right: 200px;
    justify-content: center;
    
}
.flex p{
    margin-right: 150px ;
    margin-left: 50px;
    padding-top: 25px;
}
.flex img{
    float: right;
    
}

.flex1 img{
    float: left;
    
}
/* map page  */
.map {
    display: flex;
    height: 70%;
    padding-top: 150px;
}

.image{
    width: 100%;
    height: 100%;

}

/* allshops page  */

.shops {
    text-decoration: none;
    color: black;
    width: 40%;
    height: 50%;
    align-items: center;
    
}

.shops img{
    width: 200px;
    height:100%;
    padding-left: 30px;
}

.shops h3{
   margin-left: 20px;
   
}
.shops{
    text-align: center;
    padding-right: 30px;
    padding-left: 10px;
    /* padding-bottom: 30px; */
    /* padding-top: 250px; */
}

.list .shops h3{
    /* padding-bottom: 0px; */
}
.link{
    text-decoration: none;
    color: black;
}
.shop{
    text-align: center;
    padding-right: 200px;
    padding-left: 200px;
    padding-bottom: 30px;
    padding-top: 160px;

}

.list{
   
    text-align: center;
    padding-left: 280px;
    padding-right: 150px;
    padding-top: 200px;

}

/* allmovies page  */
.mov{
    /* text-align: center; */
    
}
.movies {
    text-decoration: none;
    color: black;
    width: 40%;
    height: 50%;
    display: flex;
    align-items: center;
    /* padding-bottom: 20px; */

}

.movies img{
    width: 200px;
    height:100%;
    padding-left: 30px;
}

.movies h5{
   margin-left: 20px;
   
}



/* .movies h3 p{
    font-size: 15px;
} */
.top{
    padding-left: 25px;
}


    
.problem1{
    text-align: center;
    padding-left: 160px;
    padding-right: 80px;
    padding-top: 150px; 
}

.problem1 h3{
    padding-right: 60px;
}

.problem2{
    text-align: center;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 250px;
}
/* contact page  */

.contact{
    text-align: center;
    padding-top: 190px;
}

input{
    width: 50%;
    height: 25px;
    margin : 12px 0;
    border : 1px solid #929292;
}

textarea{
    width: 50%;
    height :25px;
    margin : 12px 0;
    border : 1px solid #929292;
}

.Sub{
    background-color: green;
    color: black;
    width: 70px;
    height:30px;
    text-decoration: none;
    border-radius: 10px;
}

.thanks{
    text-align: center;
    background-color: white;
    color: black;
    padding-top: 50px;
}

/* thanks.html */
.back{
    background-color: black;
    color: white;
    width: 70px;
    height:30px;
    text-decoration: none;
    border-radius: 10px;
}

/* categories pages */

.cat{
    text-align: center;
    padding-top: 160px;
}

.cat img{
    width: 40%;
    /* height: 70%; */
}

.list-c{
    text-align: center;
    padding-left: 270px;
   
    /* padding-right: 150px; */
}

.list-f{ 
    padding-left: 360px;
    text-align: center;
}
.shops .kfc{
    width: 150px;
    height: 150px;
}
.h3{
    text-align: center;
    padding-left: 70px;
    padding-right: 100px;

}

.shops .bk{
    width: 150px;
    height: 150px;
}