/* index page  */

.canal {
    width: 90%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
    padding-top: 30px;
}
.name{
    /* width: 100%; */
    height: 120px; 
    text-align: center; 
    padding-right: 400px;
    padding-top: 22px;
    padding-bottom: 2px;
    background-color: fixed #b8b8b8;
    
}
.name img{
    /* width: 50%; */
    height: 70px;
    position: fixed;
    text-align: center;
}

body {
 margin: -21px;
 font-family: Arial, Helvetica, sans-serif;
 background-color: #b8b8b8;
}


.menu{
    position: fixed;
    left    : 0;
    z-index : 500;
    width   : 100%;
    height  : 40px;
    background-color: #858383;
    position: fixed;
    padding-top: 20px;
    border-bottom: black solid 2px;
    border-top: black solid 2px;
    
}
 .header{
    background-color: #b8b8b8;
    position: fixed;
    text-align: center;
    width: 110%;
}

.menu b{
    color: black;
    background-color: white ;
    border-radius: 5px;
    width: 60px;
    height: 80px;
   
}

.menu b a{
    float   : left;
    display : block;
    padding-right: 80px;
    padding-left: 80px;
    font-weight : 700;
    color       : black;
    text-align  : center;
    text-decoration : none;
    

}



/* index page */

.index{
    text-align: center;
    text-decoration: none;
}

.index h3{
    text-decoration: none;
}

hr{
    width: 50%;
    /* color:#fdf082; */
}

/* heading  */

.pine{
    padding-top: 110px;
    text-align: center;
    font-size: 10px;
}
.pine a{
    color: inherit;
}
/* about page  */

.about{
    text-align: center;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 250px;
}

/* map page  */
.map {
    display: flex;
    height: 70%;
    padding-top: 200px;
}

.image{
    width: 100%;
    height: 100%;

}

/* allshops page  */

.shops {
    text-decoration: none;
    color: black;
    width: 40%;
    height: 50%;
    align-items: center;
    padding-bottom: 20px;
}

.shops img{
    width: 200px;
    height:100%;
    padding-left: 30px;
}

.shops h3{
   margin-left: 20px;
   
}

.shop{
    text-align: center;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-top: 250px;
}

.list{
    text-align: center;
    padding-top: 250px;
    padding-left: 300px;
}

/* allmovies page  */
.mov{
    text-align: center;
    padding-top: 250px;
}
.movies {
    text-decoration: none;
    color: black;
    width: 40%;
    height: 50%;
    display: flex;
    align-items: center;
    padding-bottom: 20px;

}

.movies img{
    width: 200px;
    height:100%;
    padding-left: 30px;
}

.movies h3{
   margin-left: 20px;
   
}

.movies h3 p{
    font-size: 15px;
}
/* contact page  */

.contact{
    text-align: center;
    padding-top: 250px;
}

input{
    width: 50%;
    height: 25px;
    margin : 12px 0;
    border : 1px solid #929292;
}

textarea{
    width: 50%;
    height :25px;
    margin : 12px 0;
    border : 1px solid #929292;
}

.Sub{
    background-color: green;
    color: black;
    width: 70px;
    height:30px;
    text-decoration: none;
    border-radius: 10px;
}